paddlepaddle==2.6.1
paddleocr==2.6.1.3
opencv-python-headless==4.6.0.66
numpy==1.26.4
pillow
shapely
pyclipper
lmdb
rapidfuzz
yake
nltk
python-docx
pdf2docx
pymupdf
pypdfium2
streamlit
requests
tqdm
pandas
scikit-image
scikit-learn
